body{
    background-color: rgb(243, 243, 243);
}

#menu {
    background-color: blue;
    padding: 10px;
    border:1px solid #ddd;
    border-radius: 4px;
}
#menu li{
    display: inline;
    margin-left: 20px;
    

    
}
#menu li a{
    color: white;
    text-decoration: none;
    padding: 10px;
}