.centrar{
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

body{
    background-color: rgb(65, 105, 225);
    }

h1{
    color: white; text-align: center;
}

h2{
    color: white;
}
p{
    text-align: justify;
    color: white;
}

.c1{
    color: black;
}

ul{
    color: white;
}

div{
    display: block;
}

.c2{
    background-color: greenyellow;
}

aside{
    width: 30%;
    padding-left: 15px;
    margin-left: 30px;
    float: left;
    font-style: italic;
    background-color: red;
}

