h4{
    text-align: center;
}

.idx{
    text-align: center;
}

p{
    text-align: justify;
}

.tipos{
    background-image: url(Recursos/Have\ some\ cute\ Pokes.\ Zapdos\ and\ Growlithe\ are\ my\ favorites\ here.\ Psyduck\ is\ third.\ -\ Imgur.png);
    background-repeat: no-repeat;
    background-size: cover;

}